MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=developer_db
MYSQL_USER=developer
MYSQL_PASSWORD=change_me

POSTGRES_DB=postgres_db
POSTGRES_USER=developer
POSTGRES_PASSWORD=change_me

MSSQL_SA_PASSWORD=ChangeMe123!